apiVersion: mirror.openshift.io/v2alpha1
kind: ImageSetConfiguration
archiveSize: 5
mirror:
  platform:
    channels:
      - name: stable-4.20
        minVersion: 4.20.8
        maxVersion: 4.20.8
    graph: true
  operators:
    - catalog: registry.redhat.io/redhat/redhat-operator-index:v4.20
      packages:
        - name: kubevirt-hyperconverged
          channels:
            - name: stable
              minVersion: 4.20.4
              maxVersion: 4.20.4
        - name: mtv-operator
          channels:
            - name: release-v2.10
              minVersion: 2.10.2
              maxVersion: 2.10.2
        - name: kubernetes-nmstate-operator
          channels:
            - name: stable
              minVersion: 4.20.0-202512081147
              maxVersion: 4.20.0-202512081147
        - name: netobserv-operator
          channels:
            - name: stable
              minVersion: 1.10.1
              maxVersion: 1.10.1
        - name: cluster-observability-operator
          channels:
            - name: stable
              minVersion: 1.3.0
              maxVersion: 1.3.0
        - name: cluster-logging
          channels:
            - name: stable-6.4
              minVersion: 6.4.1
              maxVersion: 6.4.1
        - name: loki-operator
          channels:
            - name: stable-6.4
              minVersion: 6.4.1
              maxVersion: 6.4.1
        - name: tempo-product
          channels:
            - name: stable
              minVersion: 0.19.0-2
              maxVersion: 00.19.0-2
        - name: opentelemetry-product
          channels:
            - name: stable
              minVersion: 0.140.0-1
              maxVersion: 0.140.0-1
        - name: local-storage-operator
          channels:
            - name: stable
              minVersion: 4.20.0-202511252120
              maxVersion: 4.18.0-202511252120
        - name: node-healthcheck-operator
          channels:
            - name: stable
              minVersion: 0.10.1
              maxVersion: 0.10.1
        - name: node-maintenance-operator
          channels:
            - name: stable
              minVersion: 5.5.0
              maxVersion: 5.5.0
        - name: self-node-remediation
          channels:
            - name: stable
              minVersion: 0.11.0
              maxVersion: 0.11.0
        - name: cincinnati-operator
          channels:
            - name: v1
              minVersion: 5.0.3
              maxVersion: 5.0.3
        - name: openshift-gitops-operator
          channels:
            - name: latest
              minVersion: 1.19.0
              maxVersion: 1.19.0
        - name: advanced-cluster-management
          channels:
            - name: release-2.15
              minVersion: 2.15.0
              maxVersion: 2.15.0
        - name: multicluster-engine
          channels:
            - name: stable-2.10
              minVersion: 2.10.0
              maxVersion: 2.10.0
  additionalImages:
    - name: registry.redhat.io/ubi8/ubi:latest
    - name: registry.redhat.io/ubi9/ubi:latest
    - name: registry.redhat.io/rhel8/rhel-guest-image:latest
    - name: registry.redhat.io/rhel9/rhel-guest-image:latest
    - name: quay.io/stevewu/net-tools:latest
    - name: quay.io/containerdisks/fedora:latest
    - name: quay.io/containerdisks/centos:7-2009
    - name: quay.io/containerdisks/centos-stream:8
    - name: quay.io/containerdisks/centos-stream:9
    - name: quay.io/rhtw/postgres:17.5
    - name: quay.io/rhtw/gitea:1.21.7
    - name: quay.io/minio/minio:latest
    - name: quay.io/rhtw/tools:1.2.1
    - name: quay.io/rhtw/gitops-envsub:latest
